<div class="container">
  <div class="calculator-container">
    <div class='display-container'>
      <small class='previous-operation'>{{model.previousOperation}}</small>
      <h3 class='display'>{{model.currentNumber}}</h3>
    </div>
    {{#each model.numbers as |number|}}
      <button {{action 'addNumber' number}} id={{number}} class="button">{{number}}</button>
    {{/each}}

    {{#each model.operands as |operand|}}
      <button {{action 'operate' operand}} id={{operand}} class="button">{{operand}}</button>
    {{/each}}

    <button class="button" {{action 'perform'}}>=</button>
  </div>
  <div class="history-container calculator-container">
    <h4>Operations</h4>
    <ul>
      {{#each model.history as |history|}}
        <li>{{history}}</li>
      {{/each}}
    </ul>
  </div>
</div>
