<div class="container">
  <h3 class='display'>{{model.currentNumber}}</h3>
  {{#each model.numbers as |number|}}
    <button {{action 'addNumber' number}} id={{number}} class="button">{{number}}</button>
  {{/each}}
  <button class="button">+</button>
  <button class="button">-</button>
  <button class="button">*</button>
  <button class="button">**</button>
  <button class="button">sqrt</button>
  <button class="button" {{action 'perform'}}>=</button>
</div>
